:root {
    --font-size: 16px;
    --global-font: "Inter", -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
    --textarea-radius: 8px;
}

.hidden {
    display: none !important;
}

.top-button {
    font-size: 16px;
    font-family: var(--global-font);
    font-weight: 500;
    color: #656565;
    background-color: transparent;
    cursor: pointer;
    border-radius: 8px;
    border-style: none;
    padding: 8px 4px;

    transition: 200ms background-color;
    
    user-select: none;
}

.top-button:hover {
    background-color: #00000016;
}

.top-button > * {
    vertical-align: middle;
    display: inline-block;
}

.top-button > .material-icons {
    margin-top: 1px;
}

.button-no-border {
    border: none !important;
    padding: 8px 20px 7px 20px !important;
}

.round-button {
    font-size: var(--font-size);
    font-family: var(--global-font);
    font-weight: 500;
    color: #111111;
    background-color: #ffffff11;
    
    border-radius: 8px;
    border-style: none;
    padding: 7px 30px 8px 30px;

    transition: 200ms background-color;

    position: relative;

    user-select: none;
    
    cursor: pointer;
    text-decoration: none;
}

.round-button:disabled {
    background-color: #ffffff05 !important;
    border-color: transparent !important;
    color: #aaaaaa;
    cursor: not-allowed;
}

.round-button:hover {
    background-color: #00000013;
}

.round-button:active {
    background-color: #00000023;
}


.button-blue {
    color: white;
    background-color: #1076e8;
    border-color: rgba(255, 255, 255, 0.202);
}

.button-blue:hover {
    background-color: #3384e0;
}

.button-blue:active {
    background-color: #5897df;
}

body {
    margin: 0px;
    background-color: #ffffff;
    overflow: hidden;
    
    font-size: var(--font-size);
    font-family: var(--global-font);
    color: #111111;
}

#ui-container {
    position: relative;
    display: flex;
    grid-template-columns: 350px auto;
    width: 100vw;
    height: 100vh;
    z-index: 0;
}

#sidebar {
    position: relative;
    background-color: #dcdcdc;
    height: 100vh;
    border-width: 0px 1px 0px 0px;
    border-style: solid;
    border-color: #afafaf;
}

#sidebar-airport-area {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.sidebar-top-area {
    padding: 12px 12px 0 12px;
}

.sidebar-proc-area {
    padding: 12px;
    position: relative;
}

#icao-input-grid {
    display: grid;
    grid-template-columns: auto 64px;
    column-gap: 8px;
}

input[type=text] {
    font-size: var(--font-size);
    font-family: var(--global-font);
    
    resize: none;
    color: #111111;
    background-color: #00000016;

    transition: border-color 100ms ease;
    border-radius: var(--textarea-radius);
    border-style: solid;
    border-color: #00000013;
    border-width: 2px;

    padding: 8px;

    width: 100%;

    box-sizing: border-box;

    touch-action: manipulation;

    outline: none;
}

input[type=text]:hover {
    border-color: #00000033;
}

input[type=text]:focus {
    border-color: #2d6cc0;
}

#airport-input {
    text-transform: uppercase;
}

hr {
    margin-block-start: 12px;
    margin-block-end: 12px;
    border-width: 1.5px;
    border-style: solid;
    border-color: #0000003a;
}

#proc-type-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));;
    column-gap: 6px;
}

#proc-type-grid > * {
    user-select: none;
}

#proc-type-grid > span {
    width: 100%;
}

.header-radio {
    display: none;
}
.header-radio + label {
    text-align: center;
    width: calc(100% - 8px);
    display: inline-block;
    background-color: #0000000b;
    transition: 200ms background-color;
    padding: 8px 4px;
    border-radius: 6px;
    font-weight: 500;
    
    cursor: pointer;
}

.header-radio:checked + label {
    background-color: #00000030 !important;
}

.header-radio + label:hover {
    background-color: #00000015;
}

.proc-container {
    display: grid;
    grid-template-columns: auto auto 18px;
    column-gap: 12px;
    cursor: pointer;
    background-color: transparent;
    border-radius: 8px;
    padding: 4px;
    align-items: center;
    margin-bottom: 4px;
}

.proc-container:hover {
    background-color: #00000012;
}

.proc-container * {
    user-select: none;
}

.proc-header {
    font-weight: bold;
    font-size: 22px;
    color: #282828;
}

.proc-rwys {
    text-align: right;
}

.proc-right-icon {
    display: inline-block;
    font-size: 20px;
    line-height: 20px;
    height: 20px;
    color: #747474;
}

.sidebar-proc-container {
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.sidebar-proc-container::-webkit-scrollbar { 
    display: none;
}

#sidebar-legs-area {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#legs-header {
    font-weight: bold;
    font-size: 24px;
    color: #282828;
    margin-bottom: 8px;
    user-select: none;
    margin-left: 8px;
}

#back-button {
    margin-left: 2px;
    margin-top: -6px;
    margin-bottom: 4px;
}

#legs-selections {
    user-select: none;
}

select {
    font-size: var(--font-size);
    font-family: var(--global-font);
    
    resize: none;
    color: #111111;
    background-color: transparent;

    transition: background-color 100ms ease;
    border-radius: var(--textarea-radius);
    border-style: solid;
    border-color: transparent;
    border-width: 2px;

    padding: 4px;

    box-sizing: border-box;

    outline: none;
    
    user-select: none;
}

select:not([disabled]):hover {
    background-color: #0000000f;
}

select:not([disabled]):open {
    background-color: #00000020;
}

.leg-radio {
    display: none;
}

.leg-radio + label {
    width: calc(100% - 8px);
    display: inline-block;
    background-color: transparent;
    transition: 200ms background-color;
    padding: 8px 4px;
    border-radius: 6px;
    
    cursor: pointer;
}

.leg-radio + label:hover {
    background-color: #00000008;
}

.leg-radio:checked + label {
    background-color: #0000000f !important;
}

.leg-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    column-gap: 12px;
    cursor: pointer;
    border-radius: 8px;
    padding: 0 4px;
    align-items: center;
    margin-bottom: 4px;
}

.leg-container * {
    user-select: none;
}

.proc-container:hover {
    background-color: #00000012;
}

.leg-type {
    font-weight: bold;
}

.leg-fix {
    font-weight: bold;
    text-align: right;
}

.leg-restr {
    color: #555555;
    grid-row: 2;
    grid-column: 1 / span 2;
}

.legs-missed-approach {
    padding: 8px;
    color: #616161;
    user-select: none;
    font-weight: 500;
    font-style: italic;
}

#render-area {
    position: relative;
}

#render-area > canvas {
    position: relative;
    z-index: 0;
}

#job-area {
    position: absolute;
    left: 12px;
    bottom: 12px;
    width: 450px;
    min-height: 40px;
    background-color: #dcdcdc;
    z-index: 1;
    border-radius: 12px;
    border-width: 1px;
    border-style: solid;
    border-color: #afafaf;
    padding: 12px;
    box-sizing: border-box;
}

#job-area * {
    user-select: none;
}

.job-container:not(:last-child) {
    margin-bottom: 8px;
}

.job-container {
    padding: 8px;
    background-color: #00000013;
    border-radius: 8px;
    font-style: italic;
    color: #333333;
}

#info-area {
    position: absolute;
    top: 12px;
    right: 12px;
    background-color: #dcdcdc;
    z-index: 1;
    border-radius: 12px;
    border-width: 1px;
    border-style: solid;
    border-color: #afafaf;
    padding: 0px 0px -0px 0px;
    box-sizing: border-box;
    
    opacity: 0.8;
}

#info-area > .round-button {
    padding: 7px 8px 8px 8px !important;
}

#popup-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    background-color: #00000090;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #dcdcdc;
    z-index: 1;
    border-radius: 12px;
    border-width: 1px;
    border-style: solid;
    border-color: #afafaf;
    padding: 0px 0px -0px 0px;
    box-sizing: border-box;
}

#license-popup {
    width: 600px;
    min-height: 300px;
    
    padding: 16px;
}

#close-license-button {
    float: right;
}

#invalid-airport-popup {
    width: 300px;
    
    padding: 16px;
}

#close-invalid-button {
    float: right;
    margin-top: 4px;
}
